.ranking {
	width: 100%;
	display: flex;
	padding-top: 10vh;
	background-image: url('/logo.png');
	background-size: 30vw;
	background-position: top;
	background-repeat: no-repeat;

	.toiler-paper-container {
		width: 75%;
		display: flex;
		flex-grow: 1;
		background-image: url('/barrapapeles.png');
		background-size: 85vw 6vw;
		background-position: top;
		background-position-y: 2.5vw;
		background-repeat: no-repeat;

		.img-container {
			margin: 0 auto;
			text-align: center;
		}

		[class*='toilet-paper-bg'] {
			width: 50%;
			padding-top: 17vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			background-size: 100%;
			background-repeat: no-repeat;
			[class*='toilet-paper-content'] {
				overflow: visible;
				min-width: calc((var(--toilet-paper-width) * 3) / 10);
				width: 66%;
			}
		}
		.left-toilet-paper-bg {
			background-image: url('/leftpaper.png');
			background-position: top right;
			align-items: flex-end;
			.left-toilet-paper-content {
				position: relative;
				right: -1%;
				.ranking-list {
					.ranking-list-element {
						position: relative;
						// left: 2vmin;
					}
				}
			}
		}
		.right-toilet-paper-bg {
			background-image: url('/rightpaper.png');
			background-position: top left;
			position: relative;
			align-items: flex-start;
			.right-toilet-paper-content {
				position: relative;
				left: -2%;
				.ranking-list {
					.ranking-list-element {
						// right: 2vmin;
					}
				}
			}
		}
		.center {
			width: 75%;
			height: var(--content-height);
		}

		.ranking-list {
			display: flex;
			justify-content: start;
			flex-direction: column;

			height: 66.5vh;
			overflow: scroll;

			.ranking-list-element {
				font-size: 1.5vmin;

				display: flex;
				align-items: center;
				min-height: 30px;
				margin-top: 5px;
				margin-bottom: 5px;
				background-color: rgba(255, 255, 255, 0.99);
				border: 1px solid black;
				border-radius: 25px;

				.ranking-list-element-position {
					padding-left: 15px;
					padding-right: 15px;
				}

				&:last-child {
					margin-bottom: 20px;
				}
			}
		}
	}
}
