:root {
	--color-light: #777eff;
	--color-dark: #5f65cc;
	--color-blue: #78c7cb;
	--content-height: 100vh;
}

.header {
	height: calc(100vh - var(--content-height));
	background-color: var(--color-light);
	margin-bottom: 1px;
	box-shadow: 0px 2px 8px var(--color-dark);

	display: flex;
	align-items: center;
}

.header .logo {
	margin-left: 5vw;
}

.header .logo img {
	max-height: calc(100vh - var(--content-height));
	width: auto;
}

.content {
	background-image: url('/fondo.png');
	background-size: cover;
	background-position: center;
	height: var(--content-height);
	overflow: hidden;
}

@font-face {
	font-family: 'OuMamma';
	src: url('/mama.ttf');
}

.cool-font {
	font-family: 'OuMamma';
	color: #470a57;
}
